a.parentLink {
  font-size: smaller;
}

img.gopher {
  vertical-align: middle;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
}

p.notGeneratedYet {
  font-style: italic;
}

img.avatar {
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
}
