a.parentLink {
  font-size: smaller;
}

header.head {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

img.gopher {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
}

p.notGeneratedYet {
  font-style: italic;
}

img.avatar {
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
}

a.authLink {
  font-size: smaller;
}
