p.generate {
  text-align: center;
  margin: 3rem 0;
}

p.generate button {
  width: 20rem;
  height: 5rem;
  font-size: larger;
  font-weight: bold;
  border-width: 3px;
  border-style: dashed;
}

p.generate button:disabled {
  cursor: unset;
  border-color: darkred;
}

p.generate button:not([disabled]) {
  cursor: pointer;
  border-color: darkgreen;
}
